@media screen and (min-width: 986px) {
    header {
        display: flex;
    }

    div.card {
        width: 18rem;
    }

    header>div>img {
        width: 150px;
    }

    header>div>h1 {
        font-size: 100px;
    }

    header>div>h1.me-5 {
        font-size: 50px;
    }

    article {
        display: flex;
    }
}

@media screen and (max-width: 985px) {
    header>div>img {
        width: 150px;
    }

    div.card {
        width: 18rem;
    }

    header>div>h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 540px) {
    div.card {
        width: 14rem;
    }

    div.card>img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 492px) {
    header>div>img {
        width: 150px;
    }

    header>div>h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 390px) {
    header>div>img {
        width: 100px;
    }

    header>div>h1 {
        font-size: 30px;
    }

    div.card {
        width: 10rem;
    }

    div.card>img {
        width: 150px;
        height: 150px;
    }
}