#addnew {
    background-color: lime;
}

#addnew:hover {
    transition: ease 0.3s;
    background-color: green;
}

.navbar {
    background-color: #6854cc; /* Cor laranja */
}
.navbar-brand {
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: white;
}
.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.item-grey {
    color: white;
}

.item-grey:hover {
    transition: ease 0.3s;
    color: lightgrey;
}

.item-black {
    transition: 0.5s all ease-in-out;
}

.item-black:hover {
    transition: ease 0.3s;
    background-color: rgba(0, 0, 0, 0.034);
    transform: translateY(-5px);
}

.poppins {
    font-family: Poppins;
}

.pointer {
    cursor: pointer;
}